.sr_space_box label{
    color:white;
}
.client-panel{
    position:fixed;
    z-index:100;
    top:0;
}
.client-panel-fix .row{
    padding-left:1%;
    padding-right:1%;
}
.buttons_panel img{
    border: 3px solid #393939;
    border-radius: 50px;
}
.buttons_panel img:hover{
    border: 6px solid #F9B233;
    border-radius: 35px;
}
.cpm_btns .sr-btn:hover{
    background-color: #393939!important;
    color:#F9B233!important
}
.cpm_btns .sr-btn:active{
    background-color: #F9B233!important;
    color:#393939!important
}